# =========================
# Big Data / Spark
# =========================
pyspark

# =========================
# Ciencia de datos
# =========================
pandas
numpy

# =========================
# Machine Learning
# =========================
scikit-learn

# =========================
# Notebooks
# =========================
jupyter
matplotlib
seaborn

# =========================
# Utilidades
# =========================
pyyaml

# =========================
# Servidor y API
# =========================
flask